WeaponStrutsEJB/web/WEB-INF/wsdl/localhost_8080/WeaponServiceService/WeaponService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.alex/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.alex/" name="WeaponServiceService">
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="WeaponServicePortBinding_addWeapon_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="WeaponServicePortBinding_deleteWeapon_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns2:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="WeaponServicePortBinding_getWeapons_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns3:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="WeaponServicePortBinding_getWeaponByName_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns4:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service.alex/" schemaLocation="http://localhost:8080/WeaponServiceService/WeaponService?xsd=1" />
</xsd:schema>
</types>
<message name="getWeapons">
<part name="parameters" element="tns:getWeapons" />
</message>
<message name="getWeaponsResponse">
<part name="parameters" element="tns:getWeaponsResponse" />
</message>
<message name="getWeaponByName">
<part name="parameters" element="tns:getWeaponByName" />
</message>
<message name="getWeaponByNameResponse">
<part name="parameters" element="tns:getWeaponByNameResponse" />
</message>
<message name="deleteWeapon">
<part name="parameters" element="tns:deleteWeapon" />
</message>
<message name="deleteWeaponResponse">
<part name="parameters" element="tns:deleteWeaponResponse" />
</message>
<message name="addWeapon">
<part name="parameters" element="tns:addWeapon" />
</message>
<message name="addWeaponResponse">
<part name="parameters" element="tns:addWeaponResponse" />
</message>
<portType name="WeaponService">
<operation name="getWeapons">
<input wsam:Action="http://service.alex/WeaponService/getWeaponsRequest" message="tns:getWeapons" />
<output wsam:Action="http://service.alex/WeaponService/getWeaponsResponse" message="tns:getWeaponsResponse" />
</operation>
<operation name="getWeaponByName">
<input wsam:Action="http://service.alex/WeaponService/getWeaponByNameRequest" message="tns:getWeaponByName" />
<output wsam:Action="http://service.alex/WeaponService/getWeaponByNameResponse" message="tns:getWeaponByNameResponse" />
</operation>
<operation name="deleteWeapon">
<input wsam:Action="http://service.alex/WeaponService/deleteWeaponRequest" message="tns:deleteWeapon" />
<output wsam:Action="http://service.alex/WeaponService/deleteWeaponResponse" message="tns:deleteWeaponResponse" />
</operation>
<operation name="addWeapon">
<input wsam:Action="http://service.alex/WeaponService/addWeaponRequest" message="tns:addWeapon" />
<output wsam:Action="http://service.alex/WeaponService/addWeaponResponse" message="tns:addWeaponResponse" />
</operation>
</portType>
<binding name="WeaponServicePortBinding" type="tns:WeaponService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getWeapons">
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeapons_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeapons_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeapons_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getWeaponByName">
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeaponByName_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeaponByName_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#WeaponServicePortBinding_getWeaponByName_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteWeapon">
<wsp:PolicyReference URI="#WeaponServicePortBinding_deleteWeapon_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#WeaponServicePortBinding_deleteWeapon_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#WeaponServicePortBinding_deleteWeapon_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="addWeapon">
<wsp:PolicyReference URI="#WeaponServicePortBinding_addWeapon_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#WeaponServicePortBinding_addWeapon_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#WeaponServicePortBinding_addWeapon_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WeaponServiceService">
<port name="WeaponServicePort" binding="tns:WeaponServicePortBinding">
<soap:address location="http://localhost:8080/WeaponServiceService/WeaponService" />
</port>
</service>
</definitions>